



{{ form_start(form)}}
    
           <!--add fields-->
           {{ form_label(form.name) }}
           {{ form_widget(form.name) }}
    
           <!--add other fields ..-->
    
           <!--add buttons-->
           <button type="submit">Register</button>
           <button type="reset">Cancel</button>
    
{{ form_end(form) }}