

{{ form_start(form)}}
    
           <!--add fields-->
           {{ form_label(form.id) }}
           {{ form_label(form.name) }}
           
    
           <!--add other fields ..-->
    
           <!--add buttons-->
           <button type="submit">Edit</button>
           <button type="reset">Cancel</button>
    
{{ form_end(form) }}
